.sidebar {
    flex: 0.33;
    min-height: 100vh;
    background-color: #0D28A6;

    .top {
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo {
            width: 40px;
            height: 40px;
        }
    }

    .center {

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            
            li {
                display: flex;
                height: 70px;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 5px;
                cursor: pointer;
                
                &.liDashboard{
                    background-color: rgba(255, 255, 255, 0.3);
                    font-weight: bold;
                }

                // &:hover {
                    
                // }

                .icon {
                    font-size: 24px;
                    color: white;
                    margin-bottom: 5px;
                }

                span {
                    font-size: 14px;
                    color: white;
                }
            }
        }
    }
}