.edit {
  width: 100%;
  display: flex;

  .editContainer {
    flex: 6;

    .container {
      display: flex;

      .content {
        flex: 6;
        background-color: #F4F5F7;

        .menu {
          display: flex;
          flex-direction: column;
          padding: 30px 30px 0 30px;

          .breadcrumb {
            display: flex;
            align-items: center;
            margin-bottom: 2rem;

            .icon {
              margin: 0 5px;
            }
          }

          .title {
            width: 100%;
            font-size: 24px;
            margin-bottom: 2rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: bold;

            .link {
              display: flex;
              text-decoration: none;
              background-color: #0D28A6;
              color: white;
              font-size: 16px;
              font-weight: bold;
              padding: 10px;
              cursor: pointer;

              .icon {
                margin-right: 1rem;
              }
            }
          }
        }

        .alert {
          padding: 0 30px 40px 30px;

          span {
            background-color: #73CA5C;
            padding: 20px 100px;
            color: white;
            font-weight: bold;
          }
        }

        .formContainer {
          display: flex;
          justify-content: space-between;
          background-color: white;
          margin: 0 30px;
          padding: 30px;
          border-radius: 2px;

          .left {
            display: flex;
            flex-direction: column;
            width: 50%;
            padding: 30px 30px 0 0;

            .carInput {
              display: flex;
              align-items: center;
              margin-bottom: 30px;

              p {
                flex: 1;
              }

              .inputcontainer {
                flex: 2;
                display: flex;

                input,
                select {
                  width: 100%;
                  padding: 12px;
                  border: 1px solid #D0D0D0;
                }
              }
            }
          }

          .right {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;

            img {
              width: 100%;
              height: 300px;
              object-fit: contain;
            }
          }
        }

        .addButton {
          width: 11rem;
          margin: 30px;
          display: flex;
          justify-content: space-between;

          .cancel {
            padding: 14px;
            font-weight: bold;
            color: #0D28A6;
            background-color: white;
            border: 1px solid #0D28A6;
            border-radius: 2px;
            font-size: 16px;
            cursor: pointer;
          }

          .save {
            padding: 14px;
            font-weight: bold;
            color: white;
            background-color: #0D28A6;
            border: none;
            border-radius: 2px;
            font-size: 16px;
            cursor: pointer;

            &:disabled {
              background-color: #0d29a662;
              cursor: not-allowed;
            }
          }
        }
      }
    }
  }
}

.formloading {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 100vh;
}