.sidebar2 {
    flex: 0.85;
    min-height: 92vh;

    .top {

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                display: flex;
                height: 80px;
                align-items: center;
                padding: 20px;

                span {
                    font-size: 18px;
                    font-weight: bold;
                    color: #8A8A8A;
                }
            }
        }
    }

    .center {

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                display: flex;
                height: 50px;
                align-items: center;
                padding: 20px;
                cursor: pointer;
                background-color: #CFD4ED;

                span {
                    font-size: 16px;
                    font-weight: bold;
                    color: black;
                }
            }
        }
    }
}