.listcar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .card {
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 30px;
        margin-bottom: 30px;
        border-radius: 8px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);

        .top {
            padding: 20px;
            margin-bottom: 1rem;

            img {
                width: 350px;
                height: 200px;
                object-fit: contain
            }
        }

        .center {
            display: flex;
            flex-direction: column;
            margin-bottom: 0.5rem;

            .title {
                margin-bottom: 1rem;
            }

            .price {
                margin-bottom: 1rem;
            }

            .item {
                display: flex;
                align-items: center;
                margin-bottom: 1rem;

                .itemplus {
                    display: flex;
                    align-items: center;
                    margin-left: 1rem;
                }
            }

            .icon {
                color: #8A8A8A;
                margin-right: 0.75rem;
            }
        }

        .bottom {
            display: flex;
            justify-content: space-between;

            .deleteButton{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 45%;
                padding: 14px;
                font-weight: bold;
                color: #FA2C5A;
                background-color: white;
                border: 1px solid #FA2C5A;
                border-radius: 2px;
                font-size: 16px;
                cursor: pointer;
            }

            .editButton {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 45%;
                padding: 14px;
                font-weight: bold;
                color: white;
                background-color: #5CB85F;
                border: none;
                border-radius: 2px;
                font-size: 16px;
                cursor: pointer;
                text-decoration: none;
            }

            .icon {
                margin-right: 0.75rem;
            }
        }
    }
}

.listcarload {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}