.list {
  display: flex;
  width: 100%;

  .listContainer {
    flex: 6;

    .container {
      display: flex;
    }

    .content {
      flex: 6;
      background-color: #F4F5F7;

      .menu {
        display: flex;
        flex-direction: column;
        padding: 30px 30px 0 30px;

        .breadcrumb {
          display: flex;
          align-items: center;
          margin-bottom: 2rem;

          .icon {
            margin: 0 5px;
          }
        }

        .title {
          width: 100%;
          font-size: 24px;
          margin-bottom: 2rem;
          display: flex;
          justify-content: space-between;
          font-weight: bold;

          .link {
            display: flex;
            text-decoration: none;
            background-color: #0D28A6;
            color: white;
            font-size: 16px;
            font-weight: bold;
            padding: 10px;
            cursor: pointer;

            .icon {
              margin-right: 1rem;
            }
          }
        }

        .datatableTitle {
          display: flex;
          align-items: center;
          height: 2rem;
          font-weight: bold;
          border-left: 5px solid #0D28A6;

          p {
            margin-left: 0.7rem;
          }
        }

        .allButton {

          .categoryButton {
            padding: 12px 15px;
            background-color: transparent;
            color: #0D28A6;
            border: 1px solid #0D28A6;
            font-weight: bold;
            margin-right: 20px;
            cursor: pointer;

            &:hover {
              background-color: #CFD4ED;
            }
          }
        }
      }

      .carList {
        padding: 30px;
      }
    }
  }
}