.navbar {
    height: 70px;
    border-bottom: 0.5px solid rgb(231, 228, 228);
    display: flex;
    align-items: center;
    font-style: 14px;
    color: #555;
    
    .wrapper {
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {
            display: flex;
            align-items: center;
    
            .item {
                display: flex;
                align-items: center;
                margin-right: 7rem;
    
                .logo {
                    height: 40px;
                }

                .icon {
                    font-size: 24px;
                    color: black;
                }
            }
        }

        .right {
            display: flex;

            .search {
                display: flex;
                align-items: center;
                border: 0.5px solid lightgray;
                padding: 10px;

                input {
                    border: none;
                    outline: none;
                    background: transparent;
                    margin-left: 10px;
                }

                .icon {
                    font-size: 20px;
                    color: gray;
                }
            }

            .item {
                display: flex;
                align-items: center;
                margin-right: 20px;
                position: relative;

                .searchButton {
                    padding: 12px 15px;
                    background-color: transparent;
                    color: #0D28A6;
                    border: 1px solid #0D28A6;
                    font-weight: bold;

                    &:hover {
                        background-color: #CFD4ED;
                      }
                }

                span {
                    margin-right: 10px;
                }

                .icon {
                    font-size: 20px;
                }

                .avatar {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin-right: 10px;
                }

                .logoutbutton {
                    padding: 12px 15px;
                    background-color: #5CB85F;
                    color: white;
                    border: none;
                    font-weight: bold;
                    cursor: pointer;
                }

                .clientbutton {
                    padding: 12px 15px;
                    background-color: #0D28A6;
                    color: white;
                    border: none;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
        }
    }
}