.SignIn {
    width: 35%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    form {
        display: flex;
        flex-direction: column;
        width: 80%;
        padding: 30px;

        img {
            width: 130px;
            margin-bottom: 2rem;
        }

        input {
            margin-bottom: 2rem;
            margin-top: 1rem;
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            padding: 12px;
        }

        h1 {
            margin: 2rem 0;
        }

        button {
            height: 2.5rem;
            border: none;
            background-color: #0D28A6;
            color: white;
            font-weight: bold;
            cursor: pointer;
        }

        span {
            font-size: 14px;
            margin-bottom: 2rem;
            padding: 2rem;
            color: red;
            background: rgba(208, 12, 26, 0.1);
            border-radius: 5px;
        }
    }
}