.home {
    display: flex;

    .homeContainer {
        flex: 6;

        .container {
            display: flex;
        }

        .content {
            flex: 6;
            background-color: #F4F5F7;

            .menu {
                display: flex;
                flex-direction: column;
                padding: 30px 30px 0 30px;

                .breadcrumb {
                    display: flex;
                    align-items: center;
                    margin-bottom: 2rem;

                    .icon {
                        margin: 0 5px;
                    }
                }

                .title {
                    width: 100%;
                    font-size: 24px;
                    margin-bottom: 2rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-weight: bold;

                    .link {
                        text-decoration: none;
                        color: green;
                        font-size: 16px;
                        font-weight: 400;
                        border: 1px solid green;
                        padding: 5px;
                        border-radius: 5px;
                        cursor: pointer;
                    }
                }

                .datatableTitle {
                    display: flex;
                    align-items: center;
                    height: 2rem;
                    font-weight: bold;
                    border-left: 5px solid #0D28A6;

                    p{
                        margin-left: 0.7rem;
                    }
                }
            }
        }

        .widgets,
        .charts {
            display: flex;
            padding: 0 30px;
            gap: 20px;
        }

        .charts {
            padding: 30px;
        }

        .listContainer {
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            padding: 20px;
            margin: 20px;

            .listTitle {
                font-weight: 500;
                color: gray;
                margin-bottom: 15px;
            }
        }
    }
}