* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Helvetica', sans-serif;
}

.Main {
    width: 100%;
    overflow: hidden;
}

.SignInPages {
    display: flex;
    width: 100vw;
    height: 100vh;
}

/* Login Page */
/* .SignIn {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SignIn h1{
    font-size: 24px;
    font-weight: bold;
}

.SignIn .form {
    padding: 2rem;
} */

.Wallpaper {
    width: 65%;
    background: url('/public/img/mobillogin.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/* Login Page */

/* Navbar */
.Navbar {
  background: #F1F3FF;
  color: black;
  padding: 1% 8%;
}

.Navbar .menu{
  width: 35%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Navbar img{
  width: 8rem;
}
/* Navbar */

/* Hero */
.Hero {
  width: 100%;
  padding-top: 1%;
  padding-left: 8%;
  background-color: #F1F3FF;
}

.Hero img {
  width: 100%;
}
/* Hero */

/* FilterSearch */
.FilterSearch {
  padding: 0 8%;
}

/* FilterSearch */

/* Footer */
.Footer {
  width: 100%;
  padding: 4% 2% 4% 8%;
}

.Footer p{
  padding-bottom: 1rem;
}

.Footer .menuicon{
  display: flex;
}

.Footer .icon{
  display: flex;
  background-color: #0D28A6;
  color: white;
  padding: 8px;
  margin-right: 1rem;
  border-radius: 50px;
}
/* Footer */

/* Pembatas */
.Pembatas{
  height: 200px;
  background-color: #F1F3FF;
}
/* Pembatas */

/* Logo */
.Logo{
  width: 110px;
  height: 40px;
  background-color: #0D28A6;
}
/* Logo */

.chart{
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 50%;
  margin: auto;
}